.woocommerce-active .site-header {
    margin-bottom: 4.235801032em;

    .site-branding {
        float: none !important;
        margin: 35px auto !important;
        text-align: center;

        .custom-logo-link {
            display: inline-block;
        }
    }

    .site-search {
        display: none;
    }

    .secondary-navigation {
        position: absolute;
        top: 0;
        left: 2.617924em;
        width: 30% !important;
        margin-bottom: 0;

        .menu {
            float: none;
        }
    }

}