.site-header-cart {
    position: absolute;
    top: 0;
    right: 2.617924em;
    width: 30% !important;

    > li {
        text-align: right;
    }

    .cart-contents {
        padding: {
            top: 0.5em;
            bottom: 0.5em;
        }
    }

    .cart-contents::after {
        margin-left: 15px;
    }

    .widget_shopping_cart {
        text-align: left;
    }

}